body
{
  background-color: #F39237;
  width: 100%;
  overflow-x: hidden;
  font-family: Verdana;
  color: #191923;
}

.shape
{
  margin: 36px;
  display: inline-block;
  background: #1EB287; /*green*/
  height: 40px;
  width: 40px;
}

.shape-lines
{
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 36px;
}

#content-container
{
  width: 60%;
  height: auto;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding-bottom: 1vh;
  background-color: #FBFEF9;
  box-shadow: 0px 2px 5px rgb(124, 88, 33);
}

#content-container h2, h4
{
  text-align: center;
  padding: 1vh;
}

#content-container-hovers
{
  width: 60%;
  height: auto;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  padding-bottom: 1vh;
  background-color: #FBFEF9;
  box-shadow: 0px 2px 5px rgb(124, 88, 33);
}

#content-container-hovers h2
{
  text-align: center;
  padding: 1vh;
}

#lines-to-cross-one-hover
{
  display: block;
  transition: all 0.5s;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 20%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 80%, 100% 80%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 20%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 80%, 100% 80%, 100% 100%, 0% 100%);
  background: red;
}

#circleFromBigToSmallHover
{
  display: block;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  background: orange;
  transition: all 1s;
}

#hover-me-three
{
  display: inline-block;
}

#hover-me-two
{
  display: inline-block;
}

#hover-me-two:hover > #lines-to-cross-one-hover
{
    -webkit-clip-path: polygon(20% 0, 100% 80%, 50% 70%, 20% 100%, 0 80%, 80% 0, 100% 20%, 70% 50%, 100% 80%, 100% 80%, 80% 100%, 0 20%);
    clip-path: polygon(20% 0, 100% 80%, 50% 70%, 20% 100%, 0 80%, 80% 0, 100% 20%, 70% 50%, 100% 80%, 100% 80%, 80% 100%, 0 20%);
    background: blue;
}

#hover-me-one
{
  display: inline-block;
}

#hover-me-one:hover > #circleFromBigToSmallHover
{
  -webkit-clip-path: circle(5.0% at 50% 50%);
  clip-path: circle(5.0% at 50% 50%);
}

#square-into-triangle-into-circle
{
  animation: squareToTriangleToCircle 1.5s ease infinite;
}

#trapezoid-into-parallelogram-into-rhombus
{
  animation: trapezoid 2s ease infinite;
}

#line-to-shapes
{
  animation: lineShapes 4s ease infinite;
}

#lines-to-cross-one
{
  animation: linesCrossOne 1s ease infinite;
  background: red;
}

#lines-to-cross-two
{
  animation: linesCrossTwo 1s ease infinite;
  background: red;
}

#lines-switch
{
  animation: linesSwitch 1s ease infinite;
  background: purple;
}

#lines-to-cross-three
{
  animation: linesCrossThree 1s ease infinite;
  background: orange;
}

#pingPongSquare
{
  animation: pingPongSquare 2s ease infinite;
}

#rotatingCircle
{
  animation: rotatingCircle 2s ease infinite;
  background-color: #d25e51;
}

#linesToSquare
{
  animation: linesToSquare 1s ease infinite;
  background-color: #d25e51;
}

#linesToCircle
{
  animation: linesToCircle 1s ease infinite;
  background-color: #158BC5;
}

#linesToSmallerCircle
{
  animation: linesToSmallerCircle 1s ease infinite;
  background: #1EB287;
}

#rotatingTriangle
{
  animation: rotatingTriangle 1s ease infinite;
}

#circleFromBigToSmall
{
  animation: circleFromBigToSmall 1s ease infinite;
  background: #1EB287;
}

#rotatingTriangleTwo
{
  animation: rotatingTriangleTwo 1.5s ease infinite;
  background: #BF1363;
}

#lineToRight
{
  animation: lineToRight 1s ease infinite;
  background: #F39237;
}

#triangleToSquare
{
  transition: all 0.5s ease;
  background: #BF1363;
  -webkit-clip-path: polygon(50% 10%, 50% 10%, 95% 90%, 5% 90%);
  clip-path: polygon(50% 10%, 50% 10%, 95% 90%, 5% 90%);
}

#hover-me-three:hover > #triangleToSquare
{
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

/* blue: #158BC5 */
/* red: #D25E51 */
img 
{
  float: left;
}

/* http://bennettfeely.com/clippy/ 
Use a polygon with 4 corners as the square. (trapezoid)
*/

@keyframes squareToTriangleToCircle
{
  0%
  {
    background: #1EB287;
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 100%); /* this is a square clip*/
  }
  33% /*triangle
  Top left becomes top right
  Top right becomes bottom right
  Bottom right becomes bottom left
  Bottom left becomes dot between bottom left and top left.
*/
  {
    -webkit-clip-path: polygon(50% 0, 100% 100%, 0 100%, 25% 50%);
    clip-path: polygon(50% 0, 100% 100%, 0 100%, 25% 50%);
    background: #158BC5;
    border-radius: 0px;
  }
  34%
  {
    border-radius: 5%;
  }
  
  66% /*circle
  Go back to the square at 0%, but add border-radius to it, so that it becomes round. Make it round so it becomes a circle
  */
  {
    -webkit-clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);
    clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0);
    background: #D25E51;
    border-radius: 50%;
  }
  
  100% /*back to square*/
  {
    background: #1EB287;
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
    border-radius: 0%;
  }
}

@keyframes trapezoid
{
  0%
  /* trapezoid */
  {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    background: rgb(255,0,0);
  }

  33%
  /*paralellogram + 45deg*/
  {
    -webkit-clip-path: polygon(100% 0, 75% 100%, 0 100%, 25% 0);
    clip-path: polygon(100% 0, 75% 100%, 0 100%, 25% 0);
    background: rgb(0,255,0);
  }

  66%
  /*rhombus + 45deg*/
  {
    -webkit-clip-path: polygon(100% 50%, 50% 100%, 0 50%, 50% 0);
    clip-path: polygon(100% 50%, 50% 100%, 0 50%, 50% 0);
    background: rgb(0,0,255);
  }

  100%
  {
    -webkit-clip-path: polygon(100% 100%, 0 100%, 20% 0, 80% 0);
    clip-path: polygon(100% 100%, 0 100%, 20% 0, 80% 0);
    background: rgb(255,0,0);
  }
}

@keyframes lineShapes
{
  0%
  /* line with multiple points for later use */
  {
    -webkit-clip-path: polygon(50% 48%, 80% 48%, 100% 48%, 100% 52%, 80% 52%, 50% 52%, 20% 52%, 0 52%, 0 48%, 20% 48%);
    clip-path: polygon(50% 48%, 80% 48%, 100% 48%, 100% 52%, 80% 52%, 50% 52%, 20% 52%, 0 52%, 0 48%, 20% 48%);
  }

  20%
  /*triangle*/
  {
    -webkit-clip-path: polygon(50% 0, 75% 50%, 100% 100%, 100% 100%, 80% 100%, 50% 100%, 20% 100%, 0 100%, 0 100%, 25% 50%);
    clip-path: polygon(50% 0, 75% 50%, 100% 100%, 100% 100%, 80% 100%, 50% 100%, 20% 100%, 0 100%, 0 100%, 25% 50%);
    background: hotpink;
  }

  40%
  /*square*/
  {
    -webkit-clip-path: polygon(100% 0, 100% 5%, 100% 91%, 100% 100%, 93% 100%, 8% 100%, 0 100%, 0 5%, 0 0, 49% 0);
    clip-path: polygon(100% 0, 100% 5%, 100% 91%, 100% 100%, 93% 100%, 8% 100%, 0 100%, 0 5%, 0 0, 49% 0);
    background: #158BC5;
  }

  60%
  /*pentagon*/
  {
    -webkit-clip-path: polygon(100% 40%, 100% 40%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0 40%, 50% 0, 50% 0, 100% 40%);
    clip-path: polygon(100% 40%, 100% 40%, 80% 100%, 60% 100%, 40% 100%, 20% 100%, 0 40%, 50% 0, 50% 0, 100% 40%);
    border-radius: 0%;
    background: #D25E51;
  }

  80%
  /*circle*/
  {
   -webkit-clip-path: polygon(100% 100%, 100% 100%, 0 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 100% 0, 100% 50%);
  clip-path: polygon(100% 100%, 100% 100%, 0 100%, 0 100%, 0 50%, 0 0, 50% 0, 100% 0, 100% 0, 100% 50%);
  border-radius: 50%;
  background: #158BC5;
  }

  100%
  /* back to line */
  {
   -webkit-clip-path: polygon(80% 52%, 80% 48%, 100% 48%, 100% 52%, 0 52%, 0 48%, 0 48%, 80% 48%, 20% 48%, 100% 48%);
  clip-path: polygon(80% 52%, 80% 48%, 100% 48%, 100% 52%, 0 52%, 0 48%, 0 48%, 80% 48%, 20% 48%, 100% 48%);
  border-radius: 0%;
  }
}

@keyframes linesCrossOne
{
  0%
  /* 3 horizontal lines */
  {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 20%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 80%, 100% 80%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 20%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 80%, 100% 80%, 100% 100%, 0% 100%);
  }

  50%
  {
    /*-webkit-clip-path: polygon(20% 0, 100% 80%, 80% 100%, 0 20%, 50% 30%, 100% 20%, 20% 100%, 0 80%, 80% 0, 100% 20%, 50% 70%, 0 20%);
    clip-path: polygon(20% 0, 100% 80%, 80% 100%, 0 20%, 50% 30%, 100% 20%, 20% 100%, 0 80%, 80% 0, 100% 20%, 50% 70%, 0 20%);*/

    -webkit-clip-path: polygon(20% 0, 100% 80%, 50% 70%, 20% 100%, 0 80%, 80% 0, 100% 20%, 70% 50%, 100% 80%, 100% 80%, 80% 100%, 0 20%);
    clip-path: polygon(20% 0, 100% 80%, 50% 70%, 20% 100%, 0 80%, 80% 0, 100% 20%, 70% 50%, 100% 80%, 100% 80%, 80% 100%, 0 20%);
    background: blue;
  }

  100%
  {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 20%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 80%, 100% 80%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 20%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 80%, 100% 80%, 100% 100%, 0% 100%);
  }
}

@keyframes linesCrossTwo
{
  0%
  /* 3 horizontal lines */
  {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 20%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 80%, 100% 80%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 20%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 80%, 100% 80%, 100% 100%, 0% 100%);
    background: green;
  }

  50%
  {
    -webkit-clip-path: polygon(20% 0, 100% 80%, 80% 100%, 0 20%, 50% 30%, 100% 20%, 20% 100%, 0 80%, 80% 0, 100% 20%, 50% 70%, 0 20%);
    clip-path: polygon(20% 0, 100% 80%, 80% 100%, 0 20%, 50% 30%, 100% 20%, 20% 100%, 0 80%, 80% 0, 100% 20%, 50% 70%, 0 20%);

    /*-webkit-clip-path: polygon(20% 0, 100% 80%, 50% 70%, 20% 100%, 0 80%, 80% 0, 100% 20%, 70% 50%, 100% 80%, 100% 80%, 80% 100%, 0 20%);
    clip-path: polygon(20% 0, 100% 80%, 50% 70%, 20% 100%, 0 80%, 80% 0, 100% 20%, 70% 50%, 100% 80%, 100% 80%, 80% 100%, 0 20%);*/
  }

  100%
  {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 20%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 80%, 100% 80%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 20%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 80%, 100% 80%, 100% 100%, 0% 100%);
  }
}

@keyframes linesSwitch
{
  0%
  {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 20%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 80%, 100% 80%, 100% 100%, 0 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 20%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 80%, 100% 80%, 100% 100%, 0 100%);
  }

  50%
  {
   -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 20%, 100% 20%, 100% 40%, 100% 40%, 100% 60%, 100% 60%, 100% 80%, 100% 80%, 100% 100%, 100% 100%);
  clip-path: polygon(100% 0, 100% 0%, 100% 20%, 100% 20%, 100% 40%, 100% 40%, 100% 60%, 100% 60%, 100% 80%, 100% 80%, 100% 100%, 100% 100%);
  }

  100%
  {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 20%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 80%, 100% 80%, 100% 100%, 0 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0 20%, 0 40%, 100% 40%, 100% 60%, 0 60%, 0 80%, 100% 80%, 100% 100%, 0 100%);
  }
}

@keyframes linesCrossThree
{
  0%
  {
    -webkit-clip-path: polygon(0 0, 0% 20%, 100% 20%, 0% 80%, 0 100%, 50% 100%, 100% 100%, 100% 80%, 0 80%, 100% 20%, 100% 0, 50% 0);
  clip-path: polygon(0 0, 0% 20%, 100% 20%, 0% 80%, 0 100%, 50% 100%, 100% 100%, 100% 80%, 0 80%, 100% 20%, 100% 0, 50% 0);
  }

  50%
  {
    -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  }

  100%
  {
     -webkit-clip-path: polygon(0 0, 0% 20%, 100% 20%, 0% 80%, 0 100%, 50% 100%, 100% 100%, 100% 80%, 0 80%, 100% 20%, 100% 0, 50% 0);
    clip-path: polygon(0 0, 0% 20%, 100% 20%, 0% 80%, 0 100%, 50% 100%, 100% 100%, 100% 80%, 0 80%, 100% 20%, 100% 0, 50% 0);
  }
}

@keyframes pingPongSquare
{
  0%
  {
    -webkit-clip-path: polygon(0 40%, 20% 40%, 20% 60%, 0 60%);
    clip-path: polygon(0 40%, 20% 40%, 20% 60%, 0 60%);
  }

  50%
  {
    -webkit-clip-path: polygon(80% 40%, 100% 40%, 100% 60%, 80% 60%);
    clip-path: polygon(80% 40%, 100% 40%, 100% 60%, 80% 60%);
  }

  100%
  {
    -webkit-clip-path: polygon(0 40%, 20% 40%, 20% 60%, 0 60%);
    clip-path: polygon(0 40%, 20% 40%, 20% 60%, 0 60%);
  }
}

@keyframes rotatingCircle
{
  0%
  {
    /*-webkit-clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
    clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);*/
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 0%;
  }

  50%
  {
    /*-webkit-clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
    clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);*/
    border-radius: 100%;
  }

  100%
  {
    /*-webkit-clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
    clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);*/
    border-radius: 0%;
  }
}

@keyframes linesToSquare
{
  0%
  {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 25%, 0 25%, 0 75%, 100% 75%, 100% 95%, 0 95%);
    clip-path: polygon(0 5%, 100% 5%, 100% 25%, 0 25%, 0 75%, 100% 75%, 100% 95%, 0 95%);
  }

  25%
  {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 50%, 0 50%, 0 50%, 100% 50%, 100% 95%, 0 95%);
    clip-path: polygon(0 5%, 100% 5%, 100% 50%, 0 50%, 0 50%, 100% 50%, 100% 95%, 0 95%);
  }

  50%
  {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 50%, 0 50%, 0 50%, 100% 50%, 100% 95%, 0 95%);
    clip-path: polygon(0 5%, 100% 5%, 100% 50%, 0 50%, 0 50%, 100% 50%, 100% 95%, 0 95%);
  }

  100%
  {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 25%, 0 25%, 0 75%, 100% 75%, 100% 95%, 0 95%);
    clip-path: polygon(0 5%, 100% 5%, 100% 25%, 0 25%, 0 75%, 100% 75%, 100% 95%, 0 95%);
  }
}

@keyframes linesToCircle
{
  0%
  {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 25%, 0 25%, 0 75%, 100% 75%, 100% 95%, 0 95%);
    clip-path: polygon(0 5%, 100% 5%, 100% 25%, 0 25%, 0 75%, 100% 75%, 100% 95%, 0 95%);
    border-radius: 0%;
  }

  25%
  {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%, 0 50%, 100% 50%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%, 0 50%, 100% 50%, 100% 100%, 0 100%);
    border-radius: 50%;
  }

  50%
  {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%, 0 50%, 100% 50%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%, 0 50%, 100% 50%, 100% 100%, 0 100%);
    border-radius: 50%;
  }

  100%
  {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 25%, 0 25%, 0 75%, 100% 75%, 100% 95%, 0 95%);
    clip-path: polygon(0 5%, 100% 5%, 100% 25%, 0 25%, 0 75%, 100% 75%, 100% 95%, 0 95%);
    border-radius: 0%;
  }
}

@keyframes linesToSmallerCircle
{
  0%
  {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%, 0 80%, 100% 80%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%, 0 80%, 100% 80%, 100% 100%, 0 100%);
    border-radius: 0%;
  }

  50%
  {
    -webkit-clip-path: polygon(10% 10%, 90% 10%, 90% 50%, 10% 50%, 10% 50%, 90% 50%, 90% 90%, 10% 90%);
    clip-path: polygon(10% 10%, 90% 10%, 90% 50%, 10% 50%, 10% 50%, 90% 50%, 90% 90%, 10% 90%);
    border-radius: 100%;
  }

  100%
  {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%, 0 80%, 100% 80%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0 20%, 0 80%, 100% 80%, 100% 100%, 0 100%);
    border-radius: 0%;
  }
}

@keyframes rotatingTriangle
{
  0%
  {
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #1EB287;
  }

  25%
  {
    -webkit-clip-path: polygon(100% 50%, 0 0, 0 100%);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    background-color: #d25e51;
  }

  50%
  {
    -webkit-clip-path: polygon(50% 100%, 100% 0, 0 0);
    clip-path: polygon(50% 100%, 100% 0, 0 0);
    background: purple;
  }

  75%
  {
    -webkit-clip-path: polygon(0 50%, 100% 100%, 100% 0);
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    background: orange;
  }

  100%
  {
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

@keyframes circleFromBigToSmall
{
  0%
  {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }

  50%
  {
    -webkit-clip-path: circle(5.0% at 50% 50%);
    clip-path: circle(5.0% at 50% 50%);
  }

  100%
  {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
  }
}

@keyframes rotatingTriangleTwo
{
  0%
  {
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
  }

  25%
  {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%);
  }

  50%
  {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
    clip-path: polygon(100% 100%, 100% 0, 0 0);
  }

  75%
  {
    -webkit-clip-path: polygon(0 100%, 99% 100%, 100% 0);
    clip-path: polygon(0 100%, 99% 100%, 100% 0);
  }

  100%
  {
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
  }
}

@keyframes lineToRight
{
  0%
  {
    -webkit-clip-path: polygon(0 0, 20% 0, 20% 100%, 0% 100%);
    clip-path: polygon(0 0, 20% 0, 20% 100%, 0% 100%);
  }
  
  66%
  {
    -webkit-clip-path: polygon(40% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(40% 0, 100% 0, 100% 100%, 40% 100%);
  }

  100%
  {
    -webkit-clip-path: polygon(80% 0, 100% 0, 100% 100%, 80% 100%);
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 80% 100%);
  }
}

@keyframes triangleToSquare
{
  0%
  {
    -webkit-clip-path: polygon(50% 10%, 50% 10%, 95% 90%, 5% 90%);
    clip-path: polygon(50% 10%, 50% 10%, 95% 90%, 5% 90%);
  }

  100%
  {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

}